# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Wandering-3.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\Wandering-3\.idea\.idea.Wandering-3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
